

{% extends 'base.html.twig' %}
{% block title %}Articles{% endblock %}

{% block body %}
<style>
    .categoryContainer{ font-size: larger;}

        .categoryLink.active{
            border-bottom: 2px dashed black;
        }

        .card-img-post{
            max-height: 200px;
            max-width: 100%;
            object-fit: cover;
            width:100%;
        }
</style>

  <div class="m-0 border-0 bd-example m-0 border-0 bd-example-flex ">
      <div class="d-flex justify-content-center categoryContainer" >
       {% for cat in category %}
              <p class="p-2 pb-4"><a class="nav-link categoryLink {% if categoryId == cat.id %}active{% endif %}" aria-current="page" href="{{ path('app_post', {'cat_id': cat.id}) }}">{{ cat.name }}</a> </p>
          {% endfor %}
      </div>
  </div>

    {% if pagination|length == 0 %}
        <div class="container alert alert-danger text-center" role="alert">
         il n'y a actuellement pas d'article pour cette catégorie.
        </div>
  {% else %}
  <div class="container text-center">
   <div class="row">
    {% for post in pagination %}
     <div class="col-4 mb-3 d-flex align-items-center">
         <div class="card" >
         <a href="{{ path('app_post_detail', {'post_id': post.id}) }}">
            {% if post.imageName %}
            <img src="{{ asset('images/posts/' ~ post.imageName) }}" class="card-img-post" alt="">
            {% endif %}
            
         </a>
            <div class="card-body">
                <div class="dateContainer text-end">
                    <strong><i>{{post.getCreatedAt()|date('Y-m-d H:i:s')}}</i></strong>
                </div>
                <h5 class="card-title">{{post.title|capitalize}}</h5>
                <p class="card-text">{{post.desciptionlimit}}</p>
                <a  class="btn btn-primary" href="{{ path('app_post_detail', {'post_id': post.id}) }}">Découvrir</a>
            </div>
         </div>
        </div>
    {% endfor %}
    </div>
   
    </div>

     <div class="container">
    {{ knp_pagination_render(pagination) }}
    </div>
  {% endif %}
  
{% endblock %}

